keys
firebase-mega/output.txt
firebase-mega/service.json
firebase-mega/credentials.json
firebase-mega/days.txt
firebase-mega/sheet
pritsoulhs1/output.txt
pritsoulhs2/output.txt
graphics
excel
node_modules
package-lock.json
package.json